In [152]:
import pandas as pd

#Files to load
file_to_load = "HeroesOfPymol/Resources/purchase_data.csv"

#Creating the data field

purchase_data = pd.read_csv(file_to_load)

In [153]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [154]:
total_players_df = purchase_data[['SN']]
total_players_df.head()

              SN
0        Lisim78
1    Lisovynya38
2     Ithergue48
3  Chamassasya86
4      Iskosia90

In [155]:
renamed_player_df = total_players_df.rename(columns={'SN' : 'Total Players'})

In [156]:
renamed_player_df

     Total Players
0          Lisim78
1      Lisovynya38
2       Ithergue48
3    Chamassasya86
4        Iskosia90
..             ...
775     Aethedru70
776         Iral74
777     Yathecal72
778        Sisur91
779      Ennrian78

[780 rows x 1 columns]

In [157]:
count = renamed_player_df.count()
count

Total Players    780
dtype: int64

In [158]:
#Finds number of unique items 
uniqueItems= len(purchase_data["Item ID"].unique())
uniqueItems

#count of all item in "purchase id"
total_purch = purchase_data["Purchase ID"].count()
total_purch

#finds total revenue
totalRev = purchase_data["Price"].sum()
totalRev

#variable for average price
avgPrice_var = purchase_data["Price"].mean()
avgPrice_var

#average price to use in calculations
avgPrice = totalRev/total_purch
avgPrice

3.0509871794871795

In [159]:
#Summary DataFrame
analysis_df = pd.DataFrame([{"Number of Unique Items": uniqueItems,
"Average Price": avgPrice, "Number of Purchases": totalPurch, "Total Revenue": totalRev}])
analysis_df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [160]:
gender_df = pd.DataFrame(purchase_data["Gender"].value_counts())
gender_df

#percent_ofplayers = (purchase_data["Gender"].value_counts() / total_players_df)*100
#percent_ofplayers
total_players = gender_df.sum()
percent_ofplayers = gender_df / total_players *100
percent_ofplayers

                          Gender
Male                   83.589744
Female                 14.487179
Other / Non-Disclosed   1.923077

In [161]:
purchase_df = gender_df.copy()
purchase_df

purchaseCount = purchase_data.groupby(["Gender"]).count().sort_values(["Purchase ID"])
purchaseCount

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Other / Non-Disclosed           15   15   15       15         15     15
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652

In [162]:
gender_average_price = purchase_data.groupby(["Gender"])["Price"].mean()
gender_average_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [163]:
gender_purchase_value = purchase_data.groupby(["Gender"])["Price"].sum()
gender_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [164]:
per_person = purchase_data.groupby(["Gender","SN"])["Price"].mean().reset_index()
per_person.groupby(["Gender"])["Price"].mean()
#per_person

Gender
Female                   3.194835
Male                     3.014269
Other / Non-Disclosed    3.348636
Name: Price, dtype: float64

In [165]:
#Bin for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

In [166]:
#This gives a name to the bin I just created
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [167]:
grp_by_age_purchase_data_df = purchase_data.copy()
grp_by_age_purchase_data_df["Age Summary"] = pd.cut(grp_by_age_purchase_data_df["Age"], age_bins, labels=group_names)
grp_by_age_purchase_data_df 
# purchase_analysis_df = pd.DataFrame(grp_by_age_purchase_data_df["Age Summary"])
# purchase_analysis_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Summary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [168]:
avg_purchase_price = grp_by_age_purchase_data_df.groupby(["Age Summary"])["Price"].mean()
avg_purchase_price

Age Summary
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [173]:
#Purchase analysis
purchase_analysis_df = pd.DataFrame(avg_purchase_price)
purchase_analysis_df.columns=["Average Purchase Price"]
purchase_analysis_df

             Average Purchase Price
Age Summary
<10                        3.353478
10-14                      2.956429
15-19                      3.035956
20-24                      3.052219
25-29                      2.900990
30-34                      2.931507
35-39                      3.601707
40+                        2.941538

In [178]:
#Calculates total purchase by age and price
total_purchase_price = grp_by_age_purchase_data_df.groupby(["Age Summary"])["Price"].sum()
total_purchase_price
purchase_analysis_df["Total Purchase Value"]=total_purchase_price
purchase_analysis_df

             Average Purchase Price  Total Purchase Value  Purchase Count
Age Summary
<10                        3.353478                 77.13              23
10-14                      2.956429                 82.78              28
15-19                      3.035956                412.89             136
20-24                      3.052219               1114.06             365
25-29                      2.900990                293.00             101
30-34                      2.931507                214.00              73
35-39                      3.601707                147.67              41
40+                        2.941538                 38.24              13

In [181]:
#solve for average total purchase 
avg_total_purch = grp_by_age_purchase_data_df.groupby(["Age Summary"])["Price"].sum()
avg_total_purch /= grp_by_age_purchase_data_df.groupby(["Age Summary"])["SN"].count()
avg_total_purch
purchase_analysis_df["Avg Total Purchase per Person"]=avg_total_purch
purchase_analysis_df

,Average Purchase Price,Total Purchase Value,Purchase Count,Avg Total Purchase per Person
Age Summary,,,,
<10,3.353478,77.13,23,3.353478
10-14,2.956429,82.78,28,2.956429
15-19,3.035956,412.89,136,3.035956
20-24,3.052219,1114.06,365,3.052219
25-29,2.900990,293.00,101,2.900990
30-34,2.931507,214.00,73,2.931507
35-39,3.601707,147.67,41,3.601707
40+,2.941538,38.24,13,2.941538

In [239]:
group_top_spendor_df = purchase_data.groupby("SN")
group_top_spendor_df.count()

#Working with Groupby SN dataframe
analysis_by_spendor = pd.DataFrame(group_top_spendor_df["Purchase ID"].count())
analysis_by_spendor

#looking at total purchase
total_purchase_value = group_top_spendor_df["Price"].sum()
total_purchase_value

#looking at AVG purchase
avg_purchase_price = group_top_spendor_df["Price"].mean()
avg_purchase_price
dlr_avg_purchase_price = avg_purchase_price.map("${:,.2f}".format)
dlr_avg_purchase_price

#Org and add column
analysis_by_spendor["Average Purchase Price"] = dlr_avg_purchase_price
analysis_by_spendor["Total Purchase Value"] = total_purchase_value
analysis_by_spendor

#Top spender summary
SUM_SN_purchased_data_df = analysis_by_SPENDOR_df.rename(columns={"Purchase ID":"Purchase Count"})
TOP5_spendors_df=SUM_SN_purchased_data_df.sort_values("Total Purchase Value", ascending=False)
TOP5_spendors_df.head()

#format
dlr_total_purchase_value_SN = total_purchase_value_SN.map("${:,.2f}".format)
TOP5_spendors_df["Total Purchase Value"] = dlr_total_purchase_value_SN
TOP5_spendors_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [244]:
grp_top_item_df = purchase_data.groupby(["Item ID", "Item Name"])
grp_top_item_df.count()

#item DF
item_analysis = pd.DataFrame(grp_top_item_df["Purchase ID"].count())
item_analysis

# Get Total purchase value by Item
total_purch_value = grp_top_item_df["Price"].sum()
total_purch_value
dlr_total_purch_value = total_purch_value.map("${:,.2f}".format)
dlr_total_purch_value

# Get purchase price by Item
purchase_price = grp_top_item_df["Price"].mean()
purchase_price
dlr_purchase_price = purchase_price.map("${:,.2f}".format)
dlr_purchase_price

# Org summary Item data
item_analysis["Item Price"] = dlr_purchase_price
item_analysis["Total Purchase Value"] = dlr_total_purch_value
analysis_by_ITEM_df

# Popular item summary
summary_item_purchased_data = item_analysis.rename(columns={"Purchase ID":"Purchase Count"})
TOP5_ITEMS_df=summary_item_purchased_data.sort_values("Purchase Count", ascending=False)
TOP5_ITEMS_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [245]:
summary_item_purchased_data["Total Purchase Value"] = grp_top_item_df["Price"].sum()
summary_item_purchased_data

# Summary Most Popular Item 
TOP5_ITEMS_df=summary_item_purchased_data.sort_values("Total Purchase Value", ascending=False)

# Format Total Purchase Price to be in dollar form go back and format cells from earlier
dlr_total_purchase_value_ITEM = total_purchase_value_ITEM.map("${:,.2f}".format)
TOP5_ITEMS_df["Total Purchase Value"] = dlr_total_purchase_value_ITEM
TOP5_ITEMS_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80